.login-button {
    display: flex;
    justify-content: flex-end;
}

.nav-section {
    display: flex;
    justify-content: center;
}
.nav-section img {
    width: 75px;
}

.menu-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu-list li {
    padding: 10px;
}

.input-button{
    display: flex;
    justify-content: flex-end;
}